.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(31, 35, 21, 0.4);
  backdrop-filter: blur(8px);
  z-index: 50;
  height: 10rem;
}

@media (max-width: 767px) {
  .nav {
    height: 7rem;
    background-color: rgba(31, 35, 21, 0.9);
  }
}

.navContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 767px) {
  .navContainer {
    padding: 1rem 1rem;
  }
}

.logo {
  width: 3rem;
  height: 3rem;
  /* background-color: var(--color-gold); */
  border-radius: 50%;
  display: flex;
  align-items: left;
  justify-content: left;
  margin-right: 10rem;
}

@media (max-width:767px) {
  .logo {
    display: none;
  }
}

.logoIcon {
  width: 2rem;
  height: 2rem;
  color: var(--color-dark-olive);
  fill: currentColor;
}

.navMenu {
  display: none;
  gap: 5rem;
}

@media (min-width: 768px) {
  .navMenu {
    display: flex;
  }
}

.navButton {
  background: none;
  border: none;
  color: var(--color-gold);
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 1.25rem;
  padding: 0.25rem 0;
}

.navButton:hover {
  color: var(--color-olive);
  border-bottom: 2px solid var(--color-gold);
}

.navButtonActive {
  border-bottom: 2px solid var(--color-gold);
  padding-bottom: 0.25rem;
}

.whatsappButton {
  background-color: var(--color-olive);
  color: white;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.whatsappButton:hover {
  background-color: var(--color-dark-olive);
}

.whatsappIcon {
  width: 1.25rem;
  height: 1.25rem;
}

/* Ícono hamburguesa */
.menuToggle {
  display: block;
  background: none;
  border: none;
  color: var(--color-gold);
  font-size: 2rem;
  cursor: pointer;
  z-index: 100;
}

/* Oculta menú hamburguesa en pantallas grandes */
@media (min-width: 768px) {
  .menuToggle {
    display: none;
  }
}

/* Menú móvil (oculto por defecto) */
.navMenuMobile {
  display: flex;
  flex-direction: column;
  background-color: rgba(31, 35, 21, 0.9);
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  padding: 1rem 2rem;
  gap: 1rem;
  transform: translateY(-200%);
  transition: transform 0.3s ease-in-out;
}

/* Menú abierto */
.open {
  transform: translateY(0);
}

.logoMobile {
  width: 9rem;
  height: 6rem;
  display: none !important;
  border-radius: 50%;
  align-items: left;
  justify-content: left;
  margin-right: 10rem;
}

@media (max-width:767px) {
  .logoMobile {
    display: flex !important;
  }
}

/* Oculta menú mobile en pantallas grandes */
@media (min-width: 768px) {
  .navMenuMobile {
    display: none;
  }
}